/*==== Header ====*/
.header {
	position: sticky;
	z-index: 1;
	top: 0;
	height: 12vh;
	width: 100%;
	border-bottom: 1px solid $border-color;
	background-color: $primary-color;
	.nav {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 12.8rem;
		height: 100%;

		.nav-list {
			display: flex;
			align-items: center;
			gap: 3.2rem;
			li {
				a {
					color: $white-color;
					font-size: 18px;
					font-weight: 400;
				}
			}
			.nav-login button {
				@include button;
				&:hover {
					background: linear-gradient(
						223.75deg,
						#0029af 4.8%,
						#000a42 95.02%
					);
				}
			}
		}
		i {
			display: none;
		}
		.nav-logo {
			font-size: $paragraph-font-size;
			color: $white-color;
			letter-spacing: 0.2rem;
		}
	}
}

/*==== Home Page ====*/
.home {
	max-width: 100%;
	height: calc(90vh - 8vh);
	background: linear-gradient(
		45deg,
		$primary-color,
		rgb(15, 15, 41),
		$primary-color
	);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		@include title;
		animation: topAnimation 0.8s ease-in-out;
		padding: 0 12.8rem;
	}
	p {
		max-width: 1024px;
		margin-top: 1.6rem;
		animation: leftAnimation 0.8s ease-in-out;
		font-size: $paragraph-font-size;
		color: $gray-color;
		line-height: $paragraph-line-height;
		padding: 0 12.8rem;
	}
	.home-button {
		animation: bottomAnimation 0.8s ease-in-out;
		margin-top: 2.4rem;

		button {
			display: flex;
			gap: 0.8rem;
			align-items: center;
			@include button;
			&:hover {
				background: linear-gradient(
					223.75deg,
					#0029af 4.8%,
					#000a42 95.02%
				);
			}
		}
	}
}

/*==== Games Page ====*/
.games {
	h2 {
		@include subtitle;
	}
	p {
		margin-top: 1.6rem;
		@include paragraph;
	}
	.games-container {
		margin-top: 3.2rem;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 1.6rem;

		.games-content {
			border: 1px solid $border-color;
			border-radius: 0.5rem;
			position: relative;
		}
	}
	.games-button {
		button {
			margin-top: 3.2rem;
			@include button;
			&:hover {
				background: linear-gradient(
					223.75deg,
					#0029af 4.8%,
					#000a42 95.02%
				);
			}
		}
	}
}

.news {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	h2 {
		@include subtitle;
	}
	.news-contents {
		display: flex;
		flex-direction: row;
		gap: 1.6rem;
		.news-container {
			height: 100%;
			width: 100%;
			a {
				.article {
					position: relative;
					height: 400px;
					.gradient {
						padding: 0;
					}
					img {
						padding: 0;
					}
					.news-info {
						position: absolute;
						bottom: 0;
						left: 0;
						padding: 25px;
						span {
							background: $button-color;
							color: #fefbfb;
							padding: 6px 16px;
							border-radius: 4px;
							line-height: $paragraph-line-height;
							font-size: 1.2rem;
							font-weight: 500;
						}
						h2 {
							font-size: 18px;
							line-height: $subtitle-line-height;
							color: #fefbfb;
							margin-top: 1.5rem;
							line-height: 140%;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
	p {
		@include paragraph;
		margin-top: 3.2rem;
	}
}

/*==== Coupons Page ====*/
.coupons {
	margin-bottom: 5.6rem;
	h2 {
		@include subtitle;
	}
	.coupons-content-01 {
		p {
			@include paragraph;
			margin-top: 1.6rem;
			a {
				color: $link-color;
			}
		}
	}
	.coupons-content-02 {
		margin-top: 3.2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0.8rem;
		.coupons-item {
			cursor: pointer;
			border-radius: 0.4rem;
			font-size: 18px;
			display: flex;
			gap: 0.8rem;
			align-items: center;
			color: $white-color;
			padding: 8px 16px;
			border: 1px solid $border-color;
			a {
				color: $gray-color;
			}
			&:hover {
				background: #0c121f;
			}
		}
	}
}

/*==== Footer Page ====*/
.footer {
	width: 100%;
	background-color: $primary-alternative-color;
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		margin: 0 12.8rem;
		p {
			line-height: $paragraph-line-height;
			font-size: 1.6rem;
			color: $gray-color;
			text-align: center;
			font-weight: 400;
			a {
				color: $link-color;
			}
		}
		.footer-list {
			display: flex;
			gap: 1.6rem;
			li {
				a {
					@include button;

					color: $gray-color;
					font-size: $paragraph-font-size;

					padding: 0.8rem;
					border-radius: 0.4rem;
					i {
						font-size: 20px;
						animation: return 0.8s ease-in infinite
							alternate;
					}
				}
			}
		}
	}
}

/*==== Login Page ====*/
.login {
	display: flex;
	height: 100vh;
	flex-direction: row-reverse;
	align-items: center;
	img {
		animation: leftAnimation 0.8s ease-in-out;
		width: 55vw;
		padding: 0;
		border-radius: 0;
	}
	.login-contents {
		animation: rightAnimation 0.8s ease-in-out;
		margin: 0 12.8rem;
		display: flex;
		flex-direction: column;
		h2 {
			@include subtitle;
		}
		p {
			margin-top: 0.8rem;
			@include paragraph;
			font-size: 16px;
		}
		form {
			margin-top: 4.6rem;
			display: flex;
			flex-direction: column;

			.login-items {
				border: none;
				div {
					display: flex;
					flex-direction: column;
					label {
						margin-top: 1.6rem;
						@include paragraph;
						color: $white-color;
						font-size: 18px;
					}
					input {
						margin-top: 0.8rem;
						font-size: 14px;
						border: none;
						border-radius: 0.4rem;
						padding: 1.6rem;
						background-color: $primary-alternative-color;
						color: $white-color;
						&:focus {
							outline-color: $second-color;
							outline-style: double;
							outline-offset: 4px;
						}
					}
				}
			}
			a:nth-child(2) {
				margin-top: 3.2rem;
				button {
					@include button;
					&:hover {
						background: linear-gradient(
							223.75deg,
							#0029af 4.8%,
							#000a42 95.02%
						);
					}
					background-color: $second-color;
					width: 100%;
					&:hover {
						background-color: $second-alternative-color;
					}
				}
			}
			a:nth-child(3) {
				margin-top: 1.6rem;
				font-size: 12px;
				color: white;
				&:hover {
					color: #1c51ff;
				}
			}
		}
	}
}
