:root {
	--primary-color: #06090f;
	--second-color: #323285;
	--white-color: #eaeaff;
	--gray-color: #acacac;
	--black-color: #17171a;
	--primary-alternative-color: #090d16;
	--paragraph-line-height: 180%;
	--subtitle-line-height: 170%;
	--title-line-height: 160%;
	--border-color: rgba(35, 51, 85, 0.5);
	--button-color: linear-gradient(
		223.75deg,
		#1c51ff 4.8%,
		#001068 95.02%
	);
	--font-family: Inter, sans-serif;
	--title-font-size: 5.6rem;
	--subtitle-font-size: 3.2rem;
	--normal-font-size: 2.4rem;
	--paragraph-font-size: 2rem;
	--small-font-size: 1.6rem;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	background: #06090f;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	font-weight: 700;
}
li {
	list-style: none;
}
main section {
	padding: 56px 0;
	max-width: 1024px;
	margin: 0 auto;
}
.header {
	height: 16vh;
	width: 100%;
}
.nav-logo {
	font-size: var(--paragraph-font-size);
	color: var(--white-color);
	letter-spacing: 0.2rem;
}
nav > i {
	display: none;
}
.nav-list {
	display: flex;
	gap: 3.2rem;
}
.nav {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1024px;
	height: 100%;
	margin: 0 auto;
}
.nav-list li a {
	color: var(--white-color);
	font-size: var(--paragraph-font-size);
	font-weight: 400;
}
.home {
	text-align: center;
}
.home-title {
	font-size: var(--title-font-size);
	color: var(--white-color);
	font-weight: 700;
	padding: 0 12.8rem;
}
.home-subtitle {
	margin-top: 1.6rem;
	font-size: var(--title-font-size);
	color: var(--white-color);
	font-weight: 700;
}
.home-paragraph {
	margin-top: 3.2rem;
	font-size: var(--paragraph-font-size);
	color: var(--gray-color);
	line-height: var(--paragraph-line-height);
}
.games-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1.6rem;
}
.games-paragraph {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
	font-size: var(--paragraph-font-size);
	line-height: var(--paragraph-line-height);
	color: var(--gray-color);
}
.games-button button {
	border: none;
	background: var(--button-color);
	color: var(--white-color);
	padding: 12px 24px;
	border-radius: 0.4rem;
	cursor: pointer;
}
.games-button button:hover {
	background: linear-gradient(
		223.75deg,
		#0029af 4.8%,
		#000a42 95.02%
	);
}
.games-content {
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	position: relative;
}
.games-subtitle {
	line-height: var(--subtitle-line-height);
	margin-bottom: 4rem;
	font-size: var(--subtitle-font-size);
	color: var(--white-color);
}
.gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		rgba(6, 9, 15, 0.4) 60%,
		#06090f 100%
	);
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.gradient:hover {
	background: linear-gradient(
		rgba(6, 9, 15, 0.582) 60%,
		#06090f 100%
	);
}
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
.news {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.news-container {
	height: 100%;
	width: 100%;
}
.news-contents {
	display: flex;
	flex-direction: row;
	gap: 1.6rem;
}
.article {
	position: relative;
	height: 400px;
}
.article img {
	padding: 0;
}
.article .gradient {
	padding: 0;
}
.news-subtitle {
	line-height: var(--subtitle-line-height);
	margin-bottom: 4rem;
	font-size: var(--subtitle-font-size);
	color: var(--white-color);
}
.news-info {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px;
}
.news-info span {
	background: var(--button-color);
	color: #fefbfb;
	padding: 6px 16px;
	border-radius: 4px;
	line-height: var(--paragraph-line-height);
	font-size: 1.2rem;
	font-weight: 500;
}
.news-info h2 {
	font-size: var(--paragraph-font-size);
	line-height: var(--subtitle-line-height);
	color: #fefbfb;
	margin-top: 1.5rem;
	line-height: 140%;
	font-weight: 400;
}
.coupons-subtitle {
	line-height: var(--subtitle-line-height);
	margin-bottom: 4rem;
	font-size: var(--subtitle-font-size);
	color: var(--white-color);
}
.coupons-content-01 h3 {
	line-height: var(--subtitle-line-height);
	font-size: var(--normal-font-size);
	color: var(--gray-color);
	font-weight: 500;
}
.coupons-content-01 p {
	margin-top: 1.6rem;
	font-size: var(--paragraph-font-size);
	color: var(--gray-color);
	line-height: var(--paragraph-line-height);
}
.coupons-content-01 p a {
	color: #3737ff;
}
.coupons-content-02 {
	margin-top: 2.4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}
.coupons-item {
	cursor: pointer;
	border-radius: 1rem;
	font-size: var(--small-font-size);
	display: flex;
	gap: 0.8rem;
	align-items: center;
	color: var(--white-color);
	padding: 8px 16px;
	border: 1px solid var(--border-color);
}
.coupons-item a {
	color: var(--gray-color);
}
.coupons-item:hover {
	background: #0c121f;
}
.footer {
	width: 100%;
	height: 100px;
	background-color: var(--primary-alternative-color);
}
.footer div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.footer p {
	line-height: var(--paragraph-line-height);
	font-size: 1.6rem;
	color: var(--gray-color);
	text-align: center;
	font-weight: 400;
}
.footer p a {
	color: #3737ff;
}
.footer-list {
	display: flex;
	gap: 0.8rem;
}
.footer-list li a {
	color: var(--gray-color);
	font-size: var(--paragraph-font-size);
}

/* Animation */
[wm-animation] {
	opacity: 0;
	transition: 0.3s;
}
[wm-animation="top"] {
	transform: translate3d(0px, -50px, 0px);
}
[wm-animation].animating {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/* Media Queries */

@media screen and (max-width: 768px) {
	:root {
		--title-font-size: 4.8rem;
		--subtitle-font-size: 2.4rem;
		--normal-font-size: 1.8rem;
		--paragraph-font-size: 1.6rem;
		--small-font-size: 0.8rem;
	}
	main section {
		margin: 0 4rem;
		padding: 6rem 0;
	}
	.header {
		height: 12vh;
		width: 100%;
		padding: 0 2rem;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		background: #06090f;
		border-bottom: 1px solid var(--border-color);
	}
	.nav {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 4rem;
	}
	.nav-logo {
		font-size: var(--paragraph-font-size);
		color: var(--white-color);
		letter-spacing: 0.2rem;
	}
	nav > i {
		font-size: 24px;
		color: var(--white-color);
	}
	.nav-list {
		padding: 4rem 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		width: 100%;
		top: 12vh;
		right: 0;
		background: #06090f;
		z-index: 1000;
		height: 0;
		transition: 0.6s;
		visibility: hidden;
		overflow-y: hidden;
	}
	.nav.active .nav-list {
		height: calc(100vh - 12vh);
		visibility: visible;
		overflow-y: auto;
	}
	.nav-list li {
		padding: 2.4rem 0;
	}
	.nav-list li a {
		font-size: var(--normal-font-size);
		color: var(--white-color);
		font-weight: 400;
	}
	.home {
		padding-top: 12rem;
		margin: 0 4rem;
	}
	.home-title {
		padding: 0 16px;
	}
	.news-contents {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}
	.news-subtitle {
		font-size: var(--subtitle-font-size);
	}
	.games-container {
		display: grid;
		grid-template-columns: repeat(1, 6fr);
		gap: 1.6rem;
	}
	.games-subtitle {
		font-size: var(--subtitle-font-size);
	}
	.coupons-subtitle {
		font-size: var(--subtitle-font-size);
	}
	.coupons-content-01 h3 {
		font-size: var(--normal-font-size);
	}
	.coupons-content-01 p {
		font-size: var(--paragraph-font-size);
	}
	.coupons-content-02 {
		gap: 2rem;
	}
	.coupons-item {
		font-size: var(--paragraph-font-size);
	}
	.footer div {
		padding: 0 4rem;
	}
	.footer div p {
		text-align: start;
		font-size: var(--small-font-size);
		margin-right: 2.4rem;
	}
}
@media screen and (max-width: 1024px) {
	.nav {
		max-width: 668px;
	}
	main section {
		max-width: 668px;
	}
	.footer div {
		max-width: 668px;
	}
}
